body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.satoru-ao-meio {
  width: 100vw;
  height: 100vh;
  /* background: #090119;        -------problema no modo dark fundo ------ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sukuna-inteiro {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sukuna-inteiro > h1 {
  color: #87063e;
}

.sukuna-ganhou-img {
  width: 60%;
  font-size: 3vw;
  color: #98104b;
}

.one-piece-existe {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playstation-ou-xbox {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: linear-gradient(45deg, #14003e, #000000);
  border-radius: 25px;
  box-shadow: 1px 1px 15px 1px#2f2f46c6;
}

.playstation-ou-xbox > h1 {
  color: #87063e;
  font-weight: 800;
  margin: o;
}

.o-honrado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.o-honrado > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #14003e;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 1px 1px 15px 1px#2f2f46c6;
  outline: none;
  box-sizing: border-box;
}

.o-honrado > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.o-honrado > input::placeholder {
  color: #f0ffff94;
}

.o-honrado > p {
  color: #98104b;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #87063e;
}

.careless-whisper {
  width: 58%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-size: 800;
  letter-spacing: 3px;
  color: #14003e;
  background: #87063e;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #98104b;
}

ul {
  list-style-type: none;
  display: flex;
  position: relative;
  gap: 40px;
  margin-top: 50px;
  left: -30px;
}

ul li {
  width: 80px;
  height: 80px;
  background-color: #090119;
  box-shadow: 0 8px 25px #090119;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

ul li:hover {
  width: 180px;
}

ul li span {
  position: absolute;
}

ul li .caderno {
  color: #98104b;
  font-size: 2.2em;
  transition: 0.2s;
}

ul li .caneta {
  color: #98104b;
  font-size: 20px;
  transform: scale(0);
  transition: 0.2s;
  transition-delay: 0.1s;
}

ul li:hover .caneta {
  transform: scale(1);
}

ul li:hover .caderno {
  transform: scale(0);
}

ul li::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(45deg, var(--xbox1), var(--xbox2));
  inset: 0;
  opacity: 0;
  border-radius: 60px;
}

ul li:hover::before {
  opacity: 1;
}

@media only screen and (max-width: 950px) {
  .playstation-ou-xbox {
    width: 85%;
  }
}

@media only screen and (max-width: 650px) {
  .satoru-ao-meio {
    flex-direction: column;
  }

  .sukuna-inteiro {
    width: 70%;
    height: auto;
  }

  .one-piece-existe {
    width: 70%;
    height: auto;
  }

  .sukuna-ganhou-img {
    width: 50vw;
  }

  .playstation-ou-xbox {
    width: 70%;
  }
}
